* {
    color: white;
}

a {
    text-decoration-line: none;
    color: lightgray;
}



body {
    display: flex;
    flex-direction: column;
    background-color: #101010;
    margin: 0;
}

.header {
    background-color: #033003;
    justify-content: center;
}

.header>.container {
    display: flex;
    justify-content: space-between;
    
}

.logo {
    align-self: center;
}

.nav {
    display: flex;
    flex: 0 0 auto;
    gap: 2rem;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    max-width: 1300px;
    padding: 0 1rem;
    justify-content: center;
    margin: 0 auto;
}

.hero {
    background-color: #044204;
    padding-top: 4rem;
}

.splash {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
    justify-content: space-between;
}

.splashtext {

    max-width: 600px;
}

.cards {
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.cards>.container {
    height: 550px;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: darkgreen;
    margin: 4rem;
    padding: 1rem;
    border-radius: 7px;
    height: 300px;
    width: 200px;
}

.about {
    background-color: #044204;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.story {
    margin: 0 20%;
}

.action {
    background-color: #101010;
}

.action>.container {
    align-items: center;
    justify-content: center;
    height: 300px;
}

.callbox {
    background-color: darkgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex: 0 0 80%;
    line-height: 0.5;
    padding: 1rem;
    border-radius: 10px;
}

button {
    background-color: transparent;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    padding: 0 1rem;
    border-style: solid;
}

.footer{
    background-color: #033003;
}

.footer>.container{
    background-color: #033003;
    display: flex;
    justify-self: center;
    gap: 1rem;
}